*{padding: 0;
  margin: 0;
}

.fondo h3{
    background-image: url("imagenes/fondo1.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
    color :aliceblue



}

h1 {
    text-align: center;
    background-color:red;
    color: white;
    padding: 20px;
}
h2{
    text-align: center;
    padding: 10px;
}
nav ul{
    background-color: gray;
    width: 100%;
    list-style-type: none;
        text-align: center;
}
    nav  li{
        display: inline-flex;
    }
    nav a {
        text-decoration: none;
        color: white;
        padding: 10px; 
        width: 150px;
     }
     nav li:hover{
        background-color: black;
     }
     
        
      
        
        
     
     .inicio{
        background-color: blue;float: right;
        width: 50%;

     }
     .logo{
        margin: 20px;
        display: flex;
        width: 50%;
        border: 1px solid red;
        


     }
     .logo img{ 
        
        padding-left: 5px;
        width: 300px;
        height: 400px;
        border-radius: 50%;
        object-fit: cover;
        
    
    

     }
.ofertas h1{
    text-align: center;
    background-color:red;
    color: white;
    padding: 20px;
}

.ofertas img{
    
    margin: 20%;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.ofertas img:hover
{transform: scale(1.5);

}
.ofertas {
    display:flex;
    align-items: center;
    padding: 40px;
}
.ofer{ 
    display:flex;
    align-items: center;
    padding: 40px;
    margin: 30px;


}
.ofer P{
    color: red; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
*{font-family: calibri;}

form label{
    display: block;
    font-weight:bold;
    color: white;

}

form{
    height: 400px;
    background-color: gray;
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    border-radius:  10px;
}
form input{
    padding: 10px;
    width: 200px;
}
.error{
    border: 3px solid red;

}
.formulario ul , ol{
    text-align: center;
}







