*{padding: 0;
  margin: 0;
}
h1 {
    text-align: center;
    background-color:red;
    color: white;
    padding: 20px;
}
h2{
    text-align: center;
    padding: 10px;
}
nav ul{
    background-color: gray;
    width: 100%;
    list-style-type: none;
        text-align: center;
}
    nav  li{
        display: inline-flex;
    }
    nav a {
        text-decoration: none;
        color: white;
        padding: 10px; 
        width: 150px;
     }
     nav li:hover{
        background-color: black;
     }
.ofertas h1{
    text-align: center;
    background-color:red;
    color: white;
    padding: 20px;
}

.ofertas img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.ofertas {
    display:flex;
    align-items: center;
    padding: 40px;
}
.ofer{ 
    display:flex;
    align-items: center;
    padding: 40px;
    margin: 30px;


}
.ofer P{
    color: red;
}